<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.WifiAudioDistribution"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".Activities.MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.WifiAudioDistribution.Activities.ManageConnectionsActivity"
                  android:label="@string/manage_connections_label"
                  android:parentActivityName="com.WifiAudioDistribution.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                      android:value="com.WifiAudioDistribution.Activities.MainActivity" />
        </activity>

        <activity android:name="com.WifiAudioDistribution.Activities.EditConnectionActivity"
                  android:label="@string/edit_connection_label"
                  android:parentActivityName="com.WifiAudioDistribution.Activities.ManageConnectionsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.WifiAudioDistribution.Activities.ManageConnectionsActivity" />
        </activity>

        <activity android:name="com.WifiAudioDistribution.Activities.ManagePodsActivity"
                  android:label="@string/manage_pods_label"
                  android:parentActivityName="com.WifiAudioDistribution.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.WifiAudioDistribution.Activities.MainActivity" />
        </activity>

        <activity android:name="com.WifiAudioDistribution.Activities.PodViewActivity"
                  android:label="Pod View"
                  android:parentActivityName="com.WifiAudioDistribution.Activities.PodViewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.WifiAudioDistribution.Activities.PodViewActivity" />
        </activity>
    </application>
</manifest>
